.goldmanBody {


    .functionDisplays {
        position: relative;

        span {
            flex-basis: 50%;
            flex-shrink: 1;
            flex-grow: 1;
            align-self: auto;
            margin: 0;
            padding: 5px;
            min-width: 240px;
            position: relative;
            height: 120px;

            table {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 500px){
        .functionDisplays {
            height: 250px;
        }
    }

    .functionFormDiv {

        > div {



            > h3 {
                text-align: center;

            }

            table {
                margin: 10px auto;
                text-align: center;
            }
        }

    }
}