@import "colors";
@import "fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo2", sans-serif;
}

a {
    color: $color-primary-3;
    text-decoration: none;
    cursor: pointer;
}

span {
    display: inline-block;
}

thead, th {
    font-weight: 700;
    text-align: center;
    align-self: center;
}

hr {
    width: 95%;
    margin: 5px auto;
    display: block;
    border: none;
    height: 2px;
    background-color: #333333;
    border-radius: 50px 50px;
}

.background-colored {
    background-color: $background;
}

.background-tiled {
    background-image: url('../images/background.png');
    background-repeat: repeat;
}

.content {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
}

.thinHR {
    border: none;
    display: block;
    margin: 2px auto;
    height: 1px;
    width: 80%;
    background-color: #999;
}

table.functionDisplay {
    text-align: center;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 2em;
}

td.upper_line {
    border-top: solid 1px black;
}

.functionDisplays {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
    height: 120px;
    width: 100%;
}

@import "header";
@import "main";
@import "menuItem";
@import "goldman";
@import "animations";