@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-ThinItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-ExtraLight.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Exo_2/Exo2-Light.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Exo_2/Exo2-LightItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo_2/Exo2-Regular.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Exo_2/Exo2-Italic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-Medium.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-MediumItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Exo_2/Exo2-SemiBold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Exo_2/Exo2-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Exo_2/Exo2-Bold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Exo_2/Exo2-BoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-ExtraBold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-ExtraBoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Black.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-BlackItalic.ttf"); }

/* line 3, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo2", sans-serif; }

/* line 10, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
a {
  color: #3576B0;
  text-decoration: none;
  cursor: pointer; }

/* line 16, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
span {
  display: inline-block; }

/* line 20, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
hr {
  width: 95%; }

/* line 24, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
.background-colored {
  background-color: #F5F1E9; }

/* line 28, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
.background-tiled {
  background-image: url("../images/background.png");
  background-repeat: repeat; }

/* line 33, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
.content {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed; }

/* line 40, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
.thinHR {
  color: #999; }

/* line 44, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
table.functionDisplay {
  text-align: center;
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 2em; }

/* line 52, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/index.scss */
td.upper_line {
  border-top: solid 1px black; }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
header {
  height: 160px;
  width: 100%;
  background-color: #ACCFEE;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  letter-spacing: 0.0635em;
  z-index: 3; }
  /* line 13, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header .headerSpan {
    width: auto;
    height: 100%;
    position: relative; }
    /* line 17, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
    header .headerSpan .backButton {
      width: 15%;
      max-width: 80px;
      min-width: 30px;
      height: 100%;
      position: relative;
      background-color: #FFBD60;
      display: inline-block;
      vertical-align: top;
      cursor: pointer; }
      /* line 27, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
      header .headerSpan .backButton img {
        max-width: inherit;
        min-width: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s; }
    /* line 39, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
    header .headerSpan .backButton:hover {
      background-color: #FFCD85;
      box-shadow: 2px -2px 6px black;
      overflow: hidden; }
      /* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
      header .headerSpan .backButton:hover img {
        width: 125%;
        height: 125%;
        max-width: none; }
    /* line 49, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
    header .headerSpan .backButton:active {
      background-color: #FFB03F;
      box-shadow: none; }
      /* line 52, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
      header .headerSpan .backButton:active img {
        width: 75%;
        height: 75%; }
    /* line 57, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
    header .headerSpan .headerText {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 10px; }
      /* line 63, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
      header .headerSpan .headerText > h1 {
        font-size: 4em;
        color: #F69812;
        padding-bottom: 0.1em; }
      /* line 68, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
      header .headerSpan .headerText > h4 {
        font-size: 1.1em;
        color: #ACF4B5; }
      /* line 73, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
      header .headerSpan .headerText .currentFunction {
        color: #9a80df; }
      @media screen and (max-width: 615px) {
        /* line 77, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
        header .headerSpan .headerText > h1 {
          font-size: 2em; }
        /* line 80, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
        header .headerSpan .headerText > h4 {
          font-size: 0.9em; } }
      @media screen and (max-height: 400px) {
        /* line 85, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
        header .headerSpan .headerText > h1 {
          font-size: 2em; }
        /* line 88, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
        header .headerSpan .headerText > h4 {
          font-size: 0.9em; } }
    /* line 93, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
    header .headerSpan .logo {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  /* line 122, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header .headerSpan:first-child {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 80%; }
  /* line 127, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header .headerSpan:last-child {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%; }

/* line 134, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
.headerSpacer {
  height: 160px;
  position: relative;
  z-index: 2;
  overflow: hidden; }

@media screen and (max-width: 615px) {
  /* line 143, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header,
  .headerSpacer {
    height: 120px; } }

@media screen and (max-height: 500px) {
  /* line 150, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header,
  .headerSpacer {
    height: 120px; } }

@media screen and (max-width: 400px) {
  /* line 157, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header,
  .headerSpacer {
    height: 80px; } }

@media screen and (max-height: 400px) {
  /* line 164, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_header.scss */
  header,
  .headerSpacer {
    height: 80px; } }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_main.scss */
.flexBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px 10px;
  height: calc(100% - 160px);
  width: 100%; }

@media screen and (max-width: 615px) {
  /* line 13, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_main.scss */
  .flexBody {
    height: calc(100% - 120px); } }

@media screen and (max-height: 500px) {
  /* line 19, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_main.scss */
  .flexBody {
    height: calc(100% - 120px); } }

@media screen and (max-width: 400px) {
  /* line 26, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_main.scss */
  .flexBody {
    height: calc(100% - 80px); } }

@media screen and (max-height: 400px) {
  /* line 32, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_main.scss */
  .flexBody {
    height: calc(100% - 80px); } }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
menu-item {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
  height: 10vh;
  min-height: calc(50% - 10px);
  min-width: calc(50% - 10px);
  background-color: #79E887;
  transition-duration: 0.2s;
  box-sizing: border-box;
  border: 1px solid #F5F1E9;
  cursor: pointer;
  box-shadow: inset -1px 0px 3px #0EBF24;
  -webkit-transition: background 0.3s ease, top 0.1s, left 0.1s, box-shadow 0.5s ease, z-index 0.3s;
  transition: background 0.3s ease, top 0.1s, left 0.1s, box-shadow 0.5s ease, z-index 0.3s; }
  /* line 18, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
  menu-item .innerFlex {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }
    /* line 32, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
    menu-item .innerFlex span {
      flex-basis: auto;
      margin: 5%; }
    /* line 37, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
    menu-item .innerFlex span:first-child {
      width: 30%;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative; }
      /* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:first-child img {
        max-height: 250px;
        max-width: 95%; }
    /* line 50, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
    menu-item .innerFlex span:last-child {
      width: 60%;
      flex-grow: 1;
      flex-shrink: 1; }
      /* line 55, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:last-child h2 {
        text-emphasis-style: circle;
        text-transform: uppercase; }
      /* line 60, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:last-child p {
        font-size: 12px; }
    @media screen and (max-width: 730px) {
      /* line 66, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:first-child {
        display: none; }
      /* line 70, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:last-child {
        width: 100%;
        text-align: center; } }
    @media screen and (max-height: 500px) {
      /* line 77, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:last-child h2 {
        font-size: 0.9em; }
      /* line 81, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
      menu-item .innerFlex span:last-child p {
        font-size: 10px; } }

/* line 90, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
menu-item:hover {
  background-color: #ACF4B5;
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;
  border-color: rgba(0, 0, 0, 0.15); }

/* line 97, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
menu-item:active {
  background-color: #33CD46; }

@media screen and (max-width: 550px) {
  /* line 102, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_menuItem.scss */
  menu-item {
    width: auto;
    height: auto;
    min-height: calc(33% - 10px);
    min-width: calc(100% - 10px); } }

/* ---- RIPPLE ---- */
/* line 3, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_animations.scss */
#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

/*
h1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex: 2;
}
*/
/* line 23, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_animations.scss */
#main {
  flex: 5; }

/* line 27, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_animations.scss */
.rippleEffect {
  overflow: hidden; }

/* line 32, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_animations.scss */
.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none; }

/* line 40, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/PhysiLab/scss/_animations.scss */
.ripple.show {
  animation: ripple 0.75s ease-out; }

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */