@import "../colors";
@import "fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo2", sans-serif;
}

a {
    color: $color-primary-3;
    text-decoration: none;
    cursor: pointer;
}

body {
    padding: 5px;
}

span {
    display: inline-block;
}

thead,
th {
    font-weight: 700;
    text-align: center;
    align-self: center;
}

hr {
    width: 95%;
    margin: 5px auto;
    display: block;
    border: none;
    height: 2px;
    background-color: #333333;
    border-radius: 50px 50px;
}

//Global input customizations
// other input customizations defined in animations
.background-colored {
    background-color: $background;
}

.background-tiled {
    background-image: url('../../images/background.png');
    background-repeat: repeat;
}

.thinHR {
    border: none;
    display: block;
    margin: 2px auto;
    height: 1px;
    width: 80%;
    background-color: #999;
}

table.functionDisplay {
    text-align: center;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 2em;
}

td.upper_line {
    border-top: solid 1px black;
}

.functionDisplays {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
    height: 120px;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    span {
        flex-basis: 50%;
        flex-shrink: 1;
        flex-grow: 1;
        align-self: auto;
        margin: 0;
        padding: 5px;
        min-width: 240px;
        position: relative;
        height: 120px;
        table {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            border-spacing: 2px;
            a {
                color: black;
                cursor: default;
            }
        }
    }
}

@media screen and (max-width: 509px) {
    .functionDisplays {
        height: 250px;
    }
}