@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Exo_2/Exo2-Thin.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Exo_2/Exo2-ThinItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/Exo_2/Exo2-ExtraLight.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/Exo_2/Exo2-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Exo_2/Exo2-Light.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/Exo_2/Exo2-LightItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Exo_2/Exo2-Regular.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Exo_2/Exo2-Italic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/Exo_2/Exo2-Medium.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/Exo_2/Exo2-MediumItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Exo_2/Exo2-SemiBold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/Exo_2/Exo2-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Exo_2/Exo2-Bold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/Exo_2/Exo2-BoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Exo_2/Exo2-ExtraBold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/Exo_2/Exo2-ExtraBoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/Exo_2/Exo2-Black.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/Exo_2/Exo2-BlackItalic.ttf"); }

/* line 3, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo2", sans-serif; }

/* line 10, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
html {
  overflow: hidden;
  height: 100%; }

/* line 15, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
body {
  height: 100%;
  overflow: auto; }

/* line 20, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
a {
  color: #3576B0;
  text-decoration: none;
  cursor: pointer; }

/* line 26, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
body {
  padding: 5px; }

/* line 30, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
span {
  display: inline-block; }

/* line 35, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
thead,
th {
  font-weight: 700;
  text-align: center;
  align-self: center; }

/* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
.background {
  background-color: #eae4fa; }

/* line 47, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
.thinHR {
  border: none;
  display: block;
  margin: 2px auto;
  height: 1px;
  width: 80%;
  background-color: #999; }

/* line 56, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
table.functionDisplay {
  text-align: center;
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 2em; }

/* line 64, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
td.upper_line {
  border-top: solid 1px black; }

/* line 68, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
.functionDisplays {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-flow: column nowrap; }
  /* line 74, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
  .functionDisplays span {
    flex-basis: 33%;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: auto;
    margin: 0;
    padding: 5px;
    min-width: 240px;
    position: relative;
    height: 120px; }
    /* line 84, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
    .functionDisplays span table {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      border-spacing: 2px; }
      /* line 91, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/goldman_calculation/index.scss */
      .functionDisplays span table a {
        color: black;
        cursor: default; }

/*# sourceMappingURL=index.css.map */