.actionBody {
    overflow-y: auto;
    height: 100%;
    padding: 10px 5px;

    .functionDisplays {
        position: relative;
        padding-bottom: 10px;
		height: 130px;

        span {
            flex-basis: 33%;
            flex-shrink: 1;
            flex-grow: 1;
            align-self: auto;
            margin: 0;
            padding: 5px;
            min-width: 240px;
            position: relative;
            height: 120px;

            table {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                border-spacing: 2px;
                a {
                    color: black;
                    cursor: default;
                }
            }
        }
    }

    .functionFormDiv {

        > div {
            height: auto;
			margin: 5px auto;
            padding: 10px;

            > h3 {
                text-align: center;
                margin-top: 10px;
            }

            table {
                margin: 10px auto;
                text-align: center;
                border-spacing: 10px;
				width: 80%;
				min-width: 200px;
				max-width: 550px;
            }
			
			.stimDelayDiv {
				margin: 10px auto;
				max-width: 550px;
				text-align: center;
				
				h4 {
					font-weight: 700;
				}
				
				> div {
					margin: 2px auto;
					
					.animateInputDiv {
						margin: 0px auto;
					}
				}
			}
        }

    }
}