.goldmanBody {
  overflow-y: auto;
  height: 100%;
  padding: 10px 5px;
  .functionDisplays {
    position: relative;
    padding-bottom: 10px;
    span {
      flex-basis: 33%;
      flex-shrink: 1;
      flex-grow: 1;
      align-self: auto;
      margin: 0;
      padding: 5px;
      min-width: 240px;
      position: relative;
      height: 120px;
      table {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-spacing: 2px;
        a {
          color: black;
          cursor: default;
        }
      }
    }
  }
  @media screen and (max-width: 764px) {
    .functionDisplays {
      height: 240px;
    }
  }
  @media screen and (max-width: 524px) {
    .functionDisplays {
      height: 360px;
    }
  }
  .functionFormDiv {
    > div {
      height: auto;
      padding: 10px;
      > h3 {
        text-align: center;
        margin-top: 10px;
      }
      table {
        margin: 10px auto;
        text-align: center;
        border-spacing: 10px;
        width: 80%;
        min-width: 200px;
        max-width: 550px;
      }
      .radiosContainer {
        width: auto;
        margin: 10px auto;
        text-align: center;
        label {
          input[type="radio"] {
            margin: 5px;
          }
        }
        label:last-child {
          margin-left: 30px;
        }
      }
    }
    > .button-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: auto;
      margin: auto auto;
      > button {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        display: block;
      }
    }
  }
}