header {
  height: $header-height;
  width: 100%;
  background-color: $color-primary-1;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  letter-spacing: 0.0635em;
  z-index: 3;
  .headerSpan {
    width: auto;
    height: 100%;
    position: relative;
    .headerText {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 10px;
      > h1 {
        font-size: 4em;
        color: $color-complement-4;
        padding-bottom: 0.1em;
      }
      @media screen and (max-width: 615px) {
        > h1 {
          font-size: 2em;
        }
      }
      @media screen and (max-height:400px) {
        > h1 {
          font-size: 2em;
        }
      }
    }
    .logo {
      max-height: 100%;
      max-width: 100%;
      padding: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .headerSpan:first-child {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 80%;
  }
  .headerSpan:last-child {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
  }
}

.headerSpacer {
  height: $header-height;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

@media screen and (max-width: 615px) {
  header,
  .headerSpacer {
    height: $header-height2;
  }
}

@media screen and (max-height: 500px) {
  header,
  .headerSpacer {
    height: $header-height2;
  }
}

@media screen and (max-width: 400px) {
  header,
  .headerSpacer {
    height: $header-height3;
  }
}

@media screen and (max-height: 400px) {
  header,
  .headerSpacer {
    height: $header-height3;
  }
}