@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Thin.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-ThinItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-ExtraLight.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Exo_2/Exo2-ExtraLightItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Exo_2/Exo2-Light.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Exo_2/Exo2-LightItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo_2/Exo2-Regular.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Exo_2/Exo2-Italic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-Medium.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Exo_2/Exo2-MediumItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Exo_2/Exo2-SemiBold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Exo_2/Exo2-SemiBoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Exo_2/Exo2-Bold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Exo_2/Exo2-BoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-ExtraBold.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Exo_2/Exo2-ExtraBoldItalic.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-Black.ttf"); }

@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Exo_2/Exo2-BlackItalic.ttf"); }

/* line 3, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo2", sans-serif; }

/* line 10, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
html {
  overflow: hidden;
  height: 100%; }

/* line 15, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
body {
  height: 100%;
  overflow: auto; }

/* line 20, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
a {
  color: #3576B0;
  text-decoration: none;
  cursor: pointer; }

/* line 26, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
span {
  display: inline-block; }

/* line 30, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
thead, th {
  font-weight: 700;
  text-align: center;
  align-self: center; }

/* line 36, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
hr {
  width: 95%;
  margin: 5px auto;
  display: block;
  border: none;
  height: 2px;
  background-color: #333333;
  border-radius: 50px 50px; }

/* line 49, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* line 54, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
.background-colored {
  background-color: #F5F1E9; }

/* line 58, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
.background-tiled {
  background-image: url("../images/background.png");
  background-repeat: repeat; }

/* line 63, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
.content {
  display: block;
  height: calc(100% - 160px);
  width: 100%;
  position: fixed; }

@media screen and (max-width: 615px) {
  /* line 71, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
  .content {
    height: calc(100% - 120px); } }

@media screen and (max-height: 500px) {
  /* line 77, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
  .content {
    height: calc(100% - 120px); } }

@media screen and (max-width: 400px) {
  /* line 83, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
  .content {
    height: calc(100% - 80px); } }

@media screen and (max-height: 400px) {
  /* line 89, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
  .content {
    height: calc(100% - 80px); } }

/* line 94, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
.thinHR {
  border: none;
  display: block;
  margin: 2px auto;
  height: 1px;
  width: 80%;
  background-color: #999; }

/* line 103, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
table.functionDisplay {
  text-align: center;
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 2em; }

/* line 111, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
td.upper_line {
  border-top: solid 1px black; }

/* line 115, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
.functionDisplays {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 10px;
  height: 120px;
  width: 100%; }

/* line 126, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/index.scss */
input[type="number"].ng-dirty.ng-invalid {
  background-color: #FF6666; }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
header {
  height: 160px;
  width: 100%;
  background-color: #ACCFEE;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  letter-spacing: 0.0635em;
  z-index: 3; }
  /* line 13, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header .headerSpan {
    width: auto;
    height: 100%;
    position: relative; }
    /* line 17, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
    header .headerSpan .backButton {
      width: 15%;
      max-width: 80px;
      min-width: 30px;
      height: 100%;
      position: relative;
      background-color: #FFBD60;
      display: inline-block;
      vertical-align: top;
      cursor: pointer; }
      /* line 27, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
      header .headerSpan .backButton img {
        max-width: inherit;
        min-width: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s; }
    /* line 39, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
    header .headerSpan .backButton:hover {
      background-color: #FFCD85;
      box-shadow: 2px -2px 6px black;
      overflow: hidden; }
      /* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
      header .headerSpan .backButton:hover img {
        width: 125%;
        height: 125%;
        max-width: none; }
    /* line 49, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
    header .headerSpan .backButton:active {
      background-color: #FFB03F;
      box-shadow: none; }
      /* line 52, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
      header .headerSpan .backButton:active img {
        width: 75%;
        height: 75%; }
    /* line 57, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
    header .headerSpan .headerText {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 10px; }
      /* line 63, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
      header .headerSpan .headerText > h1 {
        font-size: 4em;
        color: #F69812;
        padding-bottom: 0.1em; }
      /* line 68, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
      header .headerSpan .headerText > h4 {
        font-size: 1.1em;
        color: #ACF4B5; }
      /* line 73, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
      header .headerSpan .headerText .currentFunction {
        color: #9a80df; }
      @media screen and (max-width: 615px) {
        /* line 77, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
        header .headerSpan .headerText > h1 {
          font-size: 2em; }
        /* line 80, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
        header .headerSpan .headerText > h4 {
          font-size: 0.9em; } }
      @media screen and (max-height: 400px) {
        /* line 85, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
        header .headerSpan .headerText > h1 {
          font-size: 2em; }
        /* line 88, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
        header .headerSpan .headerText > h4 {
          font-size: 0.9em; } }
    /* line 93, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
    header .headerSpan .logo {
      max-height: 100%;
      max-width: 100%;
      padding: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  /* line 103, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header .headerSpan:first-child {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 80%; }
  /* line 108, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header .headerSpan:last-child {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%; }

/* line 115, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
.headerSpacer {
  height: 160px;
  position: relative;
  z-index: 2;
  overflow: hidden; }

@media screen and (max-width: 615px) {
  /* line 124, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header,
  .headerSpacer {
    height: 120px; } }

@media screen and (max-height: 500px) {
  /* line 131, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header,
  .headerSpacer {
    height: 120px; } }

@media screen and (max-width: 400px) {
  /* line 138, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header,
  .headerSpacer {
    height: 80px; } }

@media screen and (max-height: 400px) {
  /* line 145, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_header.scss */
  header,
  .headerSpacer {
    height: 80px; } }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_main.scss */
.flexBody {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px 10px;
  height: 100%;
  width: 100%; }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
menu-item {
  flex-basis: 33%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  width: 100%;
  margin: 2px;
  background-color: #79E887;
  transition-duration: 0.2s;
  box-sizing: border-box;
  border: 1px solid #F5F1E9;
  cursor: pointer;
  box-shadow: inset -1px 0px 3px #0EBF24;
  -webkit-transition: background 0.3s ease, top 0.1s, left 0.1s, box-shadow 0.5s ease, z-index 0.3s;
  transition: background 0.3s ease, top 0.1s, left 0.1s, box-shadow 0.5s ease, z-index 0.3s; }
  /* line 16, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
  menu-item .item {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    /* line 23, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
    menu-item .item h2 {
      text-emphasis-style: circle;
      text-transform: uppercase; }
    /* line 27, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
    menu-item .item p {
      font-size: 12px; }
  @media screen and (max-height: 500px) {
    /* line 33, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
    menu-item .item h2 {
      font-size: 0.9em; }
    /* line 36, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
    menu-item .item p {
      font-size: 10px; } }

/* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
menu-item:hover {
  background-color: #ACF4B5;
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;
  border-color: rgba(0, 0, 0, 0.15); }

/* line 49, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_menuItem.scss */
menu-item:active {
  background-color: #33CD46; }

/* line 1, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
.goldmanBody {
  overflow-y: auto;
  height: 100%;
  padding: 10px 5px; }
  /* line 5, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
  .goldmanBody .functionDisplays {
    position: relative;
    padding-bottom: 10px; }
    /* line 8, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionDisplays span {
      flex-basis: 33%;
      flex-shrink: 1;
      flex-grow: 1;
      align-self: auto;
      margin: 0;
      padding: 5px;
      min-width: 240px;
      position: relative;
      height: 120px; }
      /* line 18, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
      .goldmanBody .functionDisplays span table {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-spacing: 2px; }
        /* line 25, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
        .goldmanBody .functionDisplays span table a {
          color: black;
          cursor: default; }
  @media screen and (max-width: 764px) {
    /* line 33, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionDisplays {
      height: 240px; } }
  @media screen and (max-width: 524px) {
    /* line 38, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionDisplays {
      height: 360px; } }
  /* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
  .goldmanBody .functionFormDiv > div {
    height: auto;
    padding: 10px; }
    /* line 46, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionFormDiv > div > h3 {
      text-align: center;
      margin-top: 10px; }
    /* line 50, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionFormDiv > div table {
      margin: 10px auto;
      text-align: center;
      border-spacing: 10px;
      width: 80%;
      min-width: 200px;
      max-width: 550px; }
    /* line 58, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionFormDiv > div .radiosContainer {
      width: auto;
      margin: 10px auto;
      text-align: center; }
      /* line 63, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
      .goldmanBody .functionFormDiv > div .radiosContainer label input[type="radio"] {
        margin: 5px; }
      /* line 67, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
      .goldmanBody .functionFormDiv > div .radiosContainer label:last-child {
        margin-left: 30px; }
  /* line 72, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
  .goldmanBody .functionFormDiv > .button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    margin: auto auto; }
    /* line 80, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_goldman.scss */
    .goldmanBody .functionFormDiv > .button-container > button {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      display: block; }

/* --- Number Input Animations --- */
/* line 3, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.animateInputDiv {
  position: relative;
  margin-bottom: 2px;
  max-width: 400px; }

/* line 9, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
input[type="number"] {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  min-width: 50px;
  border: none;
  border-bottom: 1px solid #ACCFEE; }

/* line 19, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
input[type="number"]:focus {
  outline: none; }

/* line 23, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.bar {
  position: relative;
  display: block;
  width: 100%;
  min-width: 50px; }

/* line 31, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #165F9F;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* line 43, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.bar:before {
  left: 50%; }

/* line 47, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.bar:after {
  right: 50%; }

/* active state */
/* line 55, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
input[type="number"]:focus ~ .bar:before,
input[type="number"]:focus ~ .bar:after {
  width: 50%; }

/* line 59, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  min-width: 50px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
/* line 73, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
input[type="number"]:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #165F9F; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #165F9F; }
  to {
    width: 0;
    background: transparent; } }

/* --- Radio Input Animations --- */
@-webkit-keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1); } }

@keyframes cardEnter {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/* line 177, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer; }
  /* line 183, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
  .radio input {
    width: 1px;
    height: 1px;
    opacity: 0; }
  /* line 188, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
  .radio input:checked + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  /* line 194, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
  .radio input:checked + .outer {
    border: 3px solid #FFB03F; }
  /* line 197, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
  .radio input:focus + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #F69812; }
  /* line 204, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
  .radio .outer {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 3px solid #165F9F;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: content-box; }
  /* line 215, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
  .radio .inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #f08b3b;
    opacity: 0;
    box-sizing: content-box; }

/* line 232, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5; }

/* --- Button Animations ---- */
/* line 241, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button {
  display: inline-block;
  height: 45px;
  width: 90%;
  max-width: 200px;
  min-width: 100px;
  margin: 10px;
  position: relative;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  border-radius: 1px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  color: white;
  border: none;
  font-size: 1.5em;
  font-weight: 600; }

/* line 261, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button[type="submit"] {
  background-color: #5F3DB9; }

/* line 265, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button[type="reset"] {
  background-color: #FF6666; }

/* line 269, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  z-index: 2; }

/* line 274, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button[type="submit"]:hover {
  background-color: #9A80DF; }

/* line 278, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button[type="reset"]:hover {
  background-color: #ff9999; }

/* line 282, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button:active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); }

/* line 286, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button[type="submit"]:active {
  background-color: #441DA9; }

/* line 290, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button[type="reset"]:active {
  background-color: #ff3333; }

/* line 294, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button:focus {
  outline: none; }

/* line 298, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button:disabled {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #AAAAAA;
  cursor: default; }

/* line 304, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button:disabled:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #AAAAAA;
  z-index: 1; }

/* line 310, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
button:disabled:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #AAAAAA; }

/* ---- RIPPLE ---- */
/* line 317, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
#wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

/*
h1 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex: 2;
}
*/
/* line 338, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
#main {
  flex: 5; }

/* line 342, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.rippleEffect {
  overflow: hidden; }

/* line 346, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none; }

/* line 354, /Volumes/Hitachi HDD/Documents/Dropbox/Electron.io/NeuroLab/app/scss/_animations.scss */
.ripple.show {
  animation: ripple 0.75s ease-out; }

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */