@import "colors";
@import "fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo2", sans-serif;
}

a {
    color: $color-primary-3;
    text-decoration: none;
    cursor: pointer;
}

span {
    display: inline-block;
}

thead, th {
    font-weight: 700;
    text-align: center;
    align-self: center;
}

hr {
    width: 95%;
    margin: 5px auto;
    display: block;
    border: none;
    height: 2px;
    background-color: #333333;
    border-radius: 50px 50px;
}

//Global input customizations
// other input customizations defined in animations
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.background-colored {
    background-color: $background;
}

.background-tiled {
    background-image: url('../images/background.png');
    background-repeat: repeat;
}

.content {
    display: block;
    height: calc(100% - 160px);
    width: 100%;
    position: fixed;
}

@media screen and (max-width: 615px) {
    .content {
        height: calc(100% - 120px);
    }
}

@media screen and (max-height: 500px) {
    .content {
        height: calc(100% - 120px);
    }
}

@media screen and (max-width: 400px) {
    .content {
        height: calc(100% - 80px);
    }
}

@media screen and (max-height: 400px) {
    .content {
        height: calc(100% - 80px);
    }
}

.thinHR {
    border: none;
    display: block;
    margin: 2px auto;
    height: 1px;
    width: 80%;
    background-color: #999;
}

table.functionDisplay {
    text-align: center;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 2em;
}

td.upper_line {
    border-top: solid 1px black;
}

.functionDisplays {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
    height: 120px;
    width: 100%;
}

input[type="number"].ng-dirty.ng-invalid {
    background-color: $error-red;
}

//input[type="number"].ng-dirty.ng-valid {
//    background-color: $valid-green;
//}

.button-disabled {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background-color: $button-disabled;
    cursor: default;
}

.button-disabled:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background-color: $button-disabled;
    z-index: 1;
}

.button-disabled:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    background-color: $button-disabled;
}

@import "header";
@import "main";
@import "menuItem";
@import "goldman";
@import "actionPotential";
@import "animations";