@import "../colors";
@import "fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo2", sans-serif;
}

a {
    color: $color-primary-3;
    text-decoration: none;
    cursor: pointer;
}

body {
    padding: 5px;
}

span {
    display: inline-block;
}

hr {
    width: 95%;
    margin: 5px auto;
    display: block;
    border: none;
    height: 2px;
    background-color: #333333;
    border-radius: 50px 50px;
}

//Global input customizations
// other input customizations defined in animations
.background-colored {
    background-color: $background;
}

.background-tiled {
    background-image: url('../../images/background.png');
    background-repeat: repeat;
}

// Graphing stuff