<div class="goldmanBody">
    <div class="functionDisplays">
        <span class="nernstFunction">
            <table class="functionDisplay">
                <thead>
                    <tr><th colspan="5">Nernst (K)</th></tr>
                </thead>
                <tr>
                    <td rowspan="2">
                    E<sub>K</sub> =
                    </td>
                    <td title="RT">
                        {{NG_RT}}
                    </td>
                    <td rowspan="2">
                        log(
                    </td>
                    <td ng-model="nerstLogUpper">
                        <a ng-show="potassiumOutside">{{potassiumOutside}}</a>
                        <a ng-show="!potassiumOutside">[K]<sub>o</sub></a>
                    </td>
                    <td rowspan="2">
                        )
                    </td>
                </tr>
                <tr>
                   <td class="upper_line" title="z">
                        {{z}}
                   </td>
                    <td ng-model="nerstLogLower" class="upper_line">
                        <a ng-show="potassiumInside">{{potassiumInside}}</a>
                        <a ng-show="!potassiumInside">[K]<sub>i</sub></a>
                    </td>
                </tr>
            </table>
        </span>
        <span class="nernstFunction">
            <table class="functionDisplay">
                <thead>
                    <tr><th colspan="5">Nernst (Na)</th></tr>
                </thead>
                <tr>
                    <td rowspan="2">
                    E<sub>Na</sub> =
                    </td>
                    <td title="RT">
                        {{NG_RT}}
                    </td>
                    <td rowspan="2">
                        log(
                    </td>
                    <td ng-model="nerstLogUpper">
                        <a ng-show="sodiumOutside">{{sodiumOutside}}</a>
                        <a ng-show="!sodiumOutside">[Na]<sub>o</sub></a>
                    </td>
                    <td rowspan="2">
                        )
                    </td>
                </tr>
                <tr>
                   <td class="upper_line" title="z">
                        {{z}}
                   </td>
                    <td ng-model="nerstLogLower" class="upper_line">
                        <a ng-show="sodiumInside">{{sodiumInside}}</a>
                        <a ng-show="!sodiumInside">[Na]<sub>i</sub></a>
                    </td>
                </tr>
            </table>
        </span>
        <span class="goldmanFunction">
            <table class="functionDisplay">
               <thead>
                    <tr><th colspan="5">Goldman</th></tr>
                </thead>
                <tr>
                    <td rowspan="2">
                    V<sub>m</sub> =
                    </td>
                    <td rowspan="2" title="RT">
                        {{NG_RT}}
                    </td>
                    <td rowspan="2">
                         log(
                    </td>
                    <td ng-model="goldmanLogUpper">
                        <a ng-show="potassiumPerm">{{potassiumPerm}}</a>
                        <a ng-show="!potassiumPerm">P<sub>k</sub></a>
                        <a ng-show="potassiumOutside">({{potassiumOutside}})</a>
                        <a ng-show="!potassiumOutside">[K]<sub>o</sub></a>
                         +
                        <a ng-show="sodiumPerm">{{sodiumPerm}}</a>
                        <a ng-show="!sodiumPerm">P<sub>Na</sub></a>
                        <a ng-show="sodiumOutside">({{sodiumOutside}})</a>
                        <a ng-show="!sodiumOutside">[Na]<sub>o</sub></a>
                    </td>
                    <td rowspan="2">
                        )
                    </td>
                </tr>
                <tr>
                    <td ng-model="goldmanLogLower" class="upper_line">
                        <a ng-show="potassiumPerm">{{potassiumPerm}}</a>
                        <a ng-show="!potassiumPerm">P<sub>k</sub></a>
                        <a ng-show="potassiumInside">({{potassiumInside}})</a>
                        <a ng-show="!potassiumInside">[K]<sub>i</sub></a>
                         +
                        <a ng-show="sodiumPerm">{{sodiumPerm}}</a>
                        <a ng-show="!sodiumPerm">P<sub>Na</sub></a>
                        <a ng-show="sodiumInside">({{sodiumInside}})</a>
                        <a ng-show="!sodiumInside">[Na]<sub>i</sub></a>
                    </td>
                </tr>
            </table>
        </span>
    </div>
    <hr />
    <form class="functionFormDiv" name="NG_form">
        <div class="concentationDiv">
            <h3>Concentration</h3>
            <hr class="thinHR"/>
            <table class="concentrationTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Potassium (K)</th>
                        <th>Sodium (Na)</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        Inside:
                    </td>
                    <td>
                       <div class="animateInputDiv">
                            <input type="number" name="concentrationInK" placeholder="400.0" ng-model="potassiumInside" class="input-fix-mousewheel2" required/>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>&nbsp;mM
                    </td>
                    <td>
                       <div class="animateInputDiv">
                            <input type="number" name="concentrationInNa" placeholder="50.0" ng-model="sodiumInside" class="input-fix-mousewheel2" required/>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>&nbsp;mM
                    </td>
                </tr>
                <tr>
                    <td>
                        Outside:
                    </td>
                    <td>
                       <div class="animateInputDiv">
                            <input type="number" name="concentrationOutK" placeholder="20.0" ng-model="potassiumOutside" class="input-fix-mousewheel2" required/>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>&nbsp;mM
                    </td>
                    <td>
                       <div class="animateInputDiv">
                            <input type="number" name="concentrationOutNa" placeholder="440.0" ng-model="sodiumOutside" class="input-fix-mousewheel2" required/>
                            <span class="highlight"></span>
                           <span class="bar"></span>
                        </div>&nbsp;mM
                    </td>
                </tr>
            </table>
        </div>
        <div class="conductanceDiv">
            <h3>Conductance</h3>
            <hr class="thinHR"/>
            <table class="conductanceTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Potassium (K)</th>
                        <th>Sodium (Na)</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        Permeability:
                    </td>
                    <td>
                       <div class="animateInputDiv">
                           <input type="number" name="conductancePerK" placeholder="1.0" ng-model="potassiumPerm" class="input-fix-mousewheel2" required/>
                           <span class="highlight"></span>
                           <span class="bar"></span>
                       </div>

                    </td>
                    <td>
                       <div class="animateInputDiv">
                            <input type="number" name="conductancePerNa" placeholder="0.040" ng-model="sodiumPerm" class="input-fix-mousewheel2" required/>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
<!--
        <div class="clDistributionDiv">
            <h3>Chloride Distribution</h3>
            <hr class="thinHR" />
            <div class="radiosContainer" ng-init="clDist=0">
                <label class="radio"><input type="radio" name="clDist" title="Active" value="1" ng-model="clDist" required/><span class="outer"><span class="inner"></span></span>Active</label>
                <label class="radio"><input type="radio" name="clDist" title="Passive" value="0" ng-model="clDist" required/><span class="outer"><span class="inner"></span></span>Passive</label>
            </div>
        </div>
-->
        <div>
            <button type="button" class="calculateButton" name="calculate" ng-click="calculate()" ng-disabled="NG_form.$invalid" ng-class="NG_form.$invalid ? 'button-disabled':''"><p>Calculate</p></button>
        </div>
    </form>
</div>