@import "../colors";
@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo2", sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

a, .link {
    color: $color-complement-4;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500 !important;
}

body {
    padding: 5px;
}

span {
    display: inline-block;
}

.background {
    background-color: lighten($color-secondary-1-1, 12%);
}

div.standard {
    width: 100px;
    display: block;
    margin: 10px auto;
    
    > * {
        margin: 4px auto;
        text-align: center;
    }
    
    img.icon {
        max-width: 80px;
        max-height: 80px;
        display: block;
        margin: auto;
    }
    
    h3.appname {
        font-size: 0.9em;
        font-weight: 700;
    }
    
    p.version {
        font-size: 0.7em;
        font-weight: 200;
    }
    
}

div.extended {
    display: block;
    padding: 10px;
    margin: 10px auto;
    
    > * {
        margin: 8px auto;
        text-align: center;
        font-weight: 300;
    }
    
    h4.license {
        margin-top: 0px;
    }
    
    h5.repository {
        margin-top: 24px;
    }
}